@import 'fonts.css';


:root{
    --txtColor: #6db53e;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #211e1f;
    list-style:none;
    width: 100%;

}

header {
    max-width: 1700px;
    width: 100%; 
    margin: 0 auto;
    height: 700px;
}


.header__nav {
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(14, 12, 13, 0.9);
    position: fixed;
    display: flex;
    align-items: center;
    z-index: 999;
    height: 65px;

}

ul {
    display: flex;
    list-style: none;
    padding: 20px 0;
    margin: 0 30px 0 40px;
}

ul li a, .reg,.btn  {
    text-decoration: none;
    color: #cbc7c6;
    font-size: 21px;
    font-family: 'Nd';
    transition: 0.6s;
}

 ul li a:hover {
    color: var(--txtColor);
}

.reg:hover {
    color: var(--txtColor);
}


ul li {
    margin: 0 45px 0 0;
}



.logo {
    width: 350px;
}


.header-list__link {
    display: flex;
    align-items: center;
}

.nav-link__span {
    margin-right: 11px;
    font-size: 17px;
    align-items: center;
}


.act {
    display: none;
}

.transition {
    transition: 0.5s;
}

.link {
    text-decoration: none;
    color: #cbc7c6;
    font-size: 21px;
    font-family: 'Nd';
    transition: 0.5s;
    margin: 10px 15px;

}

.link:hover {
    color: var(--txtColor);
    
}

.header__burger {
    color: white;
    font-size: 50px;
    align-items: center;
    display: none;
}


.slider {
    width: 1400px;
    position: relative;

}

.slider__slide img {
    max-width: 1200px;
    width: 100%;
}

.slider__slide {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
}
.slider__controls {
    display: flex;
}
 

.slider__next {
    background: transparent;
    border: none;
    font-size: 70px;
    color: white;
    position: absolute;
    top: 0;
    margin: 0 115px 0 0;
    right: 0;
    bottom: 0;
}

.slider__prev {
    font-size: 70px;
    background: transparent;
    border: none;
    color: white;
    position: absolute;
    left: 0;
    margin: 0 0 0 115px;
    bottom: 0;
    top: 0;
}

.header__content {
    width: 1400px;
    margin: 50px auto;

}


.main {
    max-width: 1519px;
    width: 100%;
    margin: 30px auto;
}


.main-tabs__link-rec {
    text-decoration: none;
    color: white;
    font-size: 27px;
    font-family: 'Nd';
}

.main-tabs__link-filter {
    text-decoration: none;
    color: white;
    font-size: 27px;
    font-family: 'Nd';
    margin-left: 70px;
    transition: 0.5s;
}


.main-tabs__link-save {
    text-decoration: none;
    color: white;
    font-size: 27px;
    font-family: 'Nd';
    margin-left: 70px;
    transition: 0.5s;
}


.main-tabs__link-save:hover {
    border-top: 4px solid var(--txtColor);
    padding-top: 12px;
}

.main-tabs__link-filter:hover {
    border-top: 4px solid var(--txtColor);
    padding-top: 12px;
}

.active {
    border-top: 4px solid var(--txtColor);
    padding-top: 12px;
}


.main-tabs__description {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    width: 800px;
    margin: 40px 20px;

}

.main-tabs__content-3 {
    display: none;
}

.main-tabs__content-2 {
    display: none;
}

.main__tabs {
    margin: 0 auto;
}


.main-tabs__link {
    margin: 20px 15px;
}



.main-tabs__line::after{
    
    content: '';
    display: block;
    max-width: 1300px;
    width: 100%;
    background: var(--txtColor);
    height: 2px;
    margin-left: 20px;
    margin-top: -30px;
}

.main-tabs__rec {
    display: flex;
    flex-wrap: wrap;
    max-width: 1418px;
    width: 100%;
    margin-left: 20px;
    margin-top: 30px;
}

.main__img {
    width: 200px;
    height: 282px;
    border-radius: 8px;
}


.main-tabs__section span {
    display:block;
    color: #cbc7c6;
}



.main-tabs__desk {
    font-family: 'Nd';
    font-size: 14px;
    text-align: center;
    color: #ece8e7;
}    

.main-tabs__section {
    margin: 0 25px 23px 0;
    position: relative;
}    

.main-tabs__hover {
    color: white;
    background: linear-gradient(transparent, rgba(5, 51, 4, 0.7), rgba(5, 51, 4, 1));
    position: absolute;
    width: 100%;
    border-radius:8px;
    height: 282px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    opacity: 0;
    transition: 0.5s;
}    


.main-tabs__hover:hover {
    opacity: 1;
    color: white;
    cursor: pointer;
}    


.main-tabs__span {
    font-size: 64px;
    text-decoration: none;
}


.main-tabs__rate {
    position: absolute;
    bottom: 0;
    font-size: 24px;
    left: 0;
    margin-bottom: 50px;
    margin-left: 17px;
    /* font-family: Arial, Helvetica, sans-serif; */

}

.main-tabs__genre {
    position: absolute;
    bottom: 0;
    font-size: 12px;
    left: 0;
    color: #cbc7c6;
    margin-bottom: 18px;
    margin-left: 17px;
    font-family: 'Nd';
}


.main-tabs__save {
    position: absolute;
    top: 0;
    font-size: 37px;
    right: 0;
    color: #cbc7c6;
    margin-top: 7px;
}


.main-tabs__more {
    text-decoration: none;
    color: var(--txtColor);
    border: 2px solid var(--txtColor);
    padding: 12px 20px;
    text-align: center;
    border-radius:7px;
    font-family: 'Nd';
    margin-top: 80px;
    transition: 0.5s;
}

.main-tabs__more:hover {
    background: var(--txtColor);
    color: white;
}


.footer {
    background:#181416;
    max-width: 1600px;
    width: 100%;
}


.footer__logo {
    width: 400px;
}


.footer__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    width: 1400px;
    
}

.footer-content__title {
    font-family: 'Nd';
    font-size: 20px;
    color: white;
}


.footer__email {
    padding: 12px 10px;
    width: 250px;
    margin-top: 20px;
    border: none;
    font-size:16px;
    border-radius: 5px;
}

.footer-content__link {
    text-decoration: none;
    background: var(--txtColor);
    padding: 12px 10px;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    transition: 0.5s;
}


.footer-content__link:hover {
    background-color:#4a772c;
}

.footer-content__social {
    margin-top: 30px;
}

.footer-content__social a {
    text-decoration: none;
    color: var(--txtColor);
    border: 2px solid var(--txtColor);
    border-radius: 7px;
    padding: 10px 15px;
    margin: 0 7px;
    font-size: 21px;
    transition: 0.5s;
}

.footer-content__social a:hover {
    color: white;
    background: #558b30;
    border: 2px solid #558b30;
}


@media (max-width:1440px) {
    .footer {
        width: 1440px;
    }
}

@media (max-width:1340px) {
    
    .main-tabs__line::after {
        display: none;
    }

    .main {
        width: 1399px;
    }

    
}


@media (max-width:1200px) {
    .main {
        width: 1200px;
        margin-left: 100px;
    }
}

@media (max-width:1100px) {

    .main {
        width: 700px;
        margin-left: 350px;
    }

    .main-tabs__link  {
        display: flex;
        align-items: center;
    }

    .main-tabs__link a {
        font-size: 19px;
    }
    .main-tabs__description {
        font-size: 22px;
    }

    .main-tabs__link a {
        font-size: 24px;
    }

    .main-tabs__description {
        font-size: 30px;
    }

       
}

@media (max-width:997px) {
    .main {
        width: 700px;
        margin-left: 330px;
    }

    .header__nav {
        width: 100%;
        height: 100px;
    }

    .logo {
        width: 600px;
    }

    .header__burger {
        display: block;
        margin: 0 25px 0 auto;
    }


    .header__list a {
        font-size: 40px;
        
    }

    ul, .reg, .btn {
       display: none; 
       margin-top: 300px;
    }


    .footer__content {
        flex-direction: column;
    }

    .footer__subs {
        margin:-200px 0 0 0 ;
        text-align: center;
    }

    .footer-content__social a {
        padding: 20px 40px;
        font-size: 37px;
    }
    
    .footer__logo {
        width: 800px;
    }

    .footer-content__title {
        font-size: 67px;
    }

    .footer__email {
        margin-top: 70px;
        padding:32px 20px;
        width: 700px;
        font-size: 37px;
    }

    .footer-content__social {
        margin: 50px auto;
    }


    .footer-content__social a {
        font-size: 67px;
    }

    .footer-content__link {
        padding: 30px 48px;
        font-size: 41px;
    }

}



@media (max-width:768px) {
    .main {
        width: 700px;
        margin-left: 350px;
    }
}


@media (max-width:577px) {
    .main {
        width: 600px;
        margin-left: 450px;
    }

    
    .main-tabs__link a {
        font-size: 18px;
    }

    .main-tabs__link {
        margin-left: 25px;
    }

    .main-tabs__content {
        margin-left: 50px;
    }


}


@media (max-width:510px) {


    .main-tabs__content {
        border: 2px solid blue;
        width: 500px;
        margin: 0 auto;
    
    }

    .main-tabs__link a {
        font-size: 19px;
    }

    .main {
        width: 600px;
        margin-left: 450px;
    }

    .main-tabs__description {
        margin-left: 170px;
    }

    .main-tabs__more {
        width: 460px;
        text-align: center;
        font-size: 19px;
        margin-bottom: 150px;
    }

}

@media (max-width:461px) {

    .main {
        width: 1300px;
        margin-left: 50px;
    }

    .main-tabs__link {
        margin-left: 80px;
        margin-bottom: 150px;
    }

    .main-tabs__description {
        font-size: 70px;
        text-align: center;
        margin-left: 250px;
    }

    .main-tabs__content {
        width:1300px;
        margin: 0 auto;
    }

    .main-tabs__link a {
        font-size: 47px;
    }

    .main-tabs__section, .main__img {
        border: 2px solid green;
        width: 1200px;
        height: 1600px;
    }

    .main-tabs__section p {
        font-size: 58px;
    }

    .main-tabs__section {
        margin-bottom: 210px;
        margin-left: 20px;
    }

    .main-tabs__more {
        width: 1260px;
        font-size: 90px;
        margin-bottom: 150px;
    }
}